<%= form_with(model: [post, comment]) do |form| %>
  
  <% if @post.errors.any?  %>
  <div class ="row">
    <h2 class = 'error_explanation'><%= pluralize(@post.errors.count, "") %> 件のエラーがあります</h2>

    <div class = "error_explanation">
      <% @post.errors.full_messages.each do |message| %>
        <p><%= message %></p> 
      <% end %> 
    </div>
  </div> 
  <% end %>
  
  <div class="field">
    <%= form.text_area :content, id: "comment_content_#{post.id}" %>
    <%= form.label :編集 %>
  </div>
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>