<body>

<div class = "container_index">
  
  <div class = "side_menu">
    <h2>tesutooiojojo</h2>
  </div>

  <div class = "recipe_menu">

    <div class = "recipe_form">
      <div class = "recipe_title">
        <p><%= image_tag '22001251.png', class: 'icon' %></p>
        <p>肉料理</p>
      </div>
      <ul class ="recipe_index">
        <li></li>
      </ul>
    </div>

    <div class = "recipe_form">
      <div class = "recipe_title">
        <p><%= image_tag '22001251.png', class: 'icon' %></p>
        <p>肉料理</p>
      </div>
      <%# <% @posts.each do |post| %> %>
      <ul class ="recipe_index">
        <li></li>
      </ul>
    </div>

    <div class = "recipe_form">
      <div class = "recipe_title">
        <p><%= image_tag '22001251.png', class: 'icon' %></p>
        <p>魚料理</p>
      </div>
      <ul class ="recipe_index">
        <li></li>
      </ul>
    </div>

    <div class = "recipe_form">
      <div class = "recipe_title">
        <p><%= image_tag '22001251.png', class: 'icon' %></p>
        <p>麺料理</p>
      </div>
      <ul class ="recipe_index">
        <li></li>
      </ul>
    </div>

    <div class = "recipe_form">
      <div class = "recipe_title">
        <p><%= image_tag '22001251.png', class: 'icon' %></p>
        <p>野菜料理</p>
      </div>
      <ul class ="recipe_index">
        <li></li>
      </ul>
    </div>

  </div>

</div>

</body>

<%# <%= recipe.title_category %> %>
