
  <div class ="row my_user_post">
    <% @user.favorites.each do |f| %>
    
    <div class = "col-3 post_field">
          <div class="row">
            
            <div class = " col-12 title_field">
              <div class='row'>
                <div class ='col-6 title-photo'>
                  <%= image_tag f.post.cooking_image.url, width: '150px', height: '150px' %>
                </div>
                <div class='col-6 title_menu'>
                  <p>レシピ名: <%= f.post.title %></p>
                  <p>投稿者: <%= link_to f.post.user.name, user_path(f.post.user.id) %></p>
                </div>
              </div>  
            </div>
        
            <div class = "col-12 title_field_m">
              <li class= 'col-12 post-material-select'><strong>材料</strong></li>
              <% f.post.materials.first(3).each_with_index do |t| %>
                <li class = "col-sm-6 col-md-6 col-xs-6"><%= t.material %></li>
                <li class = "col-sm-6 col-md-6 col-xs-6"><%= t.amount %></li>       
              <% end %>
            </div>

            <div class = "offset-2 row title_menu">
              <p><%= link_to '詳細を見る', f.post %></p>
              <% if f.post.user_id == current_user.id %>
                <p><%= link_to '編集', edit_post_path(f.post) %></p>
                <p><%= link_to '削除', post, method: :delete, data: { confirm: '本当に削除しますか?' } %></p>
              <% end %>
            </div>

          </div>

    </div>
    <% end %>
  </div>
      



