
<div class = "user_page">
  <div class=" row user_field">
    <div class="col-6 user_title">
      <div class ="user_form">
        <% if @user.avatar.attached? %>
          <p><%= image_tag @user.avatar.variant(combine_options:{gravity: :center, resize:"200x200^",crop:"640x640+0+0"}).processed %></p>
        <% end %>
        <h4>ユーザ名：<%= @user.name %></h4>
        <h4>誕生日<%= @user.birth_date %></h4>
          <p>フォロー<%= @user.following.count %><p>
          <p>フォロワー<%= @user.followers.count %><p>
          <% unless current_user.id == @user.id %>
          <% unless current_user.following?(@user) %>
            <%= form_with(model: current_user.active_relationships.build(followed_id: @user.id))  do |f| %>
            <%= f.hidden_field :followed_id %>
            <p><%= f.submit "フォロー" %></p>
          <% end %>
          <% else %>
          <%= form_with(model: current_user.active_relationships.find_by(followed_id: @user.id), method: :delete ) do |f| %>
            <p><%= f.submit "フォロー解除" %></p>
          <% end %>
          <% end %> 
          <% end %>
          <% if current_user.id == @user.id %>
            <p><%= link_to '編集', edit_user_registration_path %></p>
          <% end %>
          
      </div>  
    </div>

    <div class="col-6 user_profile">
      <div class="profile_form">
        <h4>プロフィール</h4>
        <p><%= @user.profile %></p>
      </div>
    </div>
  </div> 

<ul class="row tab-list list-unstyled">
  <li class="col-6 tab tab-active">投稿一覧</li>
  <li class="col-6 tab">お気に入り</li>
</ul>

  <div class="tabbox-contents">
    <div class="tabbox box-show">
      <%= render 'users/posting'  %>
    </div>
    <div class="tabbox">
      <%= render 'users/favorite'%>
    </div>
  </div>

</div>
