<%= form_with(model: @post, local: true) do |f| %>

  <% if @post.errors.any?  %>
  <div id ="error_explanation">
    <h2><%= pluralize(@post.errors.count) %> 件のエラーがあります</h2>

    <ul>
      <% @post.errors.full_messages.each do |message| %>
        <li><%= message %></li> 
      <% end %> 
    </ul>
  </div> 
  <% end %>

  <div class = "container_post">

    <div class = "top_post"> 
      <h2 class = 'title'>レシピ投稿画面</h2>
      <div class="title_form">
        <div class = title_photo>
          <p><%= f.label :レシピ名 %></p> 
          <p><%= f.text_field :title, placeholder: "レシピ名", size: 40 %></p>
          <p><%= image_tag @post.cooking_image.url, id: 'preview',width: '280px', height: '250px', border: '1px solid' %></p>
          <p><%= f.file_field :cooking_image, onchange: 'previewImage(preview)'  %></p>
        </div>
      </div> 

      <div class="title_form"> 
        <div class = "title_comment">
          <p><%= f.label :コメント %></p> 
          <p><%= f.text_field :text %></p> 
        </div>
      </div>
    </div> 
    


    <div class = "category_post">
      <div class="tag_form"> 
        <p><%= f.label :タグ %></p> 
        <p><%= f.select :tag, Post.tags.keys,  include_blank: '選択してください' %>
      </div> 

      <div class="tag_form"> 
        <p><%= f.label :レシピカテゴリー %></p> 
        <p><%= f.select :recipe_category, Post.recipe_categories.keys,  include_blank: '選択してください' %></p>
      </div>
    </div> 

    <div class="actions"> 
      <p><%= f.submit %> </p>
      <p><%= link_to '戻る', posts_path %></p>
    </div> 

<% end %>


