<%= form_with(model: post, local: true) do |form| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
    <%= form.label :cooking_image %>
    <%= form.file_field :cooking_image %>
  </div>

  <div class="field">
    <%= form.label :text %>
    <%= form.text_area :text %>
  </div>

  <div id ="material">
  <%= javascript_pack_tag 'hello_vue' %>
  </div>

  <div class="field">
    <%= form.label :procedure_image %>
    <%= form.file_field :procedure_image %>
    <%= form.label :procedure %>
    <%= form.text_area :procedure %>
  </div>

  <div class="field">
    <%= form.label :tag %>
    <%= form.select :tag, Post.tags.keys,  include_blank: '選択してください' %>
  </div>

  

  <div class="field">
    <%= form.label :free_text %>
    <%= form.text_area :free_text %>
  </div>

  <div class="actions">
    <%= form.submit %>
    <%= link_to 'Back', posts_path %>
  </div>

  
<% end %>
