<%= form_with(model: @post, local: true) do |f| %>

  <% if @post.errors.any?  %>
  <div id ="error_explanation">
       <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2> %>

      <ul>
      <% @post.errors.full_messages.each do |message| %>
        <li><%= message %></li> 
       <% end %> 
       </ul>
     </div> 
  <% end %>

     

    

  <div class = "container_post">

    <div class = "top_post"> 
    <h2 class = 'title'>レシピ投稿画面</h2>
      <div class="title_form">
        <div class = title_photo>
          <p><%= f.label :レシピ名 %></p> 
          <p><%= f.text_field :title, placeholder: "レシピ名", size: 40 %></p>
          <p><%= image_tag @post.cooking_image.url, id: 'preview',width: '280px', height: '250px', border: '1px solid' %></p>
          <p><%= f.file_field :cooking_image, onchange: 'previewImage(preview)'  %></p>
        </div>
      </div> 

      <div class="title_form"> 
         <div class = "title_comment">
           <p><%= f.label :コメント %></p> 
           <p><%= f.text_field :text %></p> 
         </div>
      </div>
    </div> 
    
    <div class = "material_post">
      <div class ="material_format">
        <div class="mx-auto">
        <h2>材料</h2>
          <%= f.fields_for :materials do |t| %>
            <%= render "material_fields", f: t %>
          <% end %>
        </div>

        <div id="detail-association-insertion-point"></div>

        <div class="col-5 mx-auto mt-2">
          <%= link_to_add_association "追加", f, :materials,
          class: "btn btn-secondary btn-block",
          data: {
          association_insertion_node: '#detail-association-insertion-point',
          association_insertion_method: 'after'
          }%>
        </div>
        </div>
    </div>

    <div class = "procedure_post"> 
        <div class="mx-auto">
        <h2>手順</h2>
          <%= f.fields_for :procedures do |t| %>
            <%= render "procedure_fields", f: t %>
          <% end %>
        </div>

        <div id="detail-association-insertion-point_procedure"></div>

        <div class="col-5 mx-auto mt-2">
          <%= link_to_add_association "追加", f, :procedures,
          class: "btn btn-secondary btn-block",
          data: {
          association_insertion_node: '#detail-association-insertion-point_procedure',
          association_insertion_method: 'after'
          }%>
        </div>
    </div> 

    <div class = "category_post">
      <div class="tag_form"> 
        <p><%= f.label :タグ %></p> 
        <p><%= f.select :tag, Post.tags.keys,  include_blank: '選択してください' %>
      </div> 

      <div class="tag_form"> 
        <p><%= f.label :レシピカテゴリー %></p> 
        <p><%= f.select :recipe_category, Post.recipe_categories.keys,  include_blank: '選択してください' %></p>
      </div>
    </div> 

    <div class="actions"> 
       <p><%= f.submit %> </p>
       <p><%= link_to 'Back', posts_path %></p>
    </div> 

    
     
<% end %>


