 <body>
 <%# <%= form_with(model: @post, local: true) do |form| %>
  <%# <% if @post.errors.any? %> 
    <%# <div id="error_explanation"> %>
      <%# <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2> %>

      <%# <ul> %>
      <%# <% @post.errors.full_messages.each do |message| %> 
        <%# <li><%= message %></li> 
      <%# <% end %> 
      <%# </ul> %>
    <%# </div> %> 
  <%# <% end %> 


  <%# <div class = "select_button"> %>
    <ul class = "tab">
       <li class = "select" >テンプレート</li>
       <li>フリーテキスト</li>
    </ul>

    <ul class = "container_template">
      <li>aaa</li>
      <li class = "container_free">bbb</li>
    </ul>

  <%# </div> %>

  <%# <div class = "container_template">

    <div class = "top_post">
      <div class="title_form">
        <p><%= form.label :title %></p>
        <%# <p><%= form.text_field :title %></p>
        <%# <p><%= form.label :cooking_images %></p>
        <%# <p><%= form.file_field :cooking_images, multiple: true %></p> 
      <%# </div> %>
      <%# <div class="text_form"> %>
        <%# <p><%= form.label :text %></p> 
        <%# <p><%= form.text_area :text %></p> 
      <%# </div> %>

    <%# <div id ="material"> %>
    <%# </div> %>

    <%# <div class="process_form"> %>
      <%# <p><%= form.label :procedure_images %></p> 
      <%# <p><%= form.file_field :procedure_images, multiple: true %></p> 
      <%# <p><%= form.label :procedure %></p> 
      <%# <p><%= form.text_area :procedure %></p> 
    <%# </div> %>

    <%# <div class="tag_form"> %>
      <%# <p><%= form.label :tag %></p> 
      <%# <p><%= form.select :tag, Post.tags.keys,  include_blank: '選択してください' %>
    <%# </div> %>

  <%# </div> %>

  <%# <div class = "container_free"> %>

    <%# <div class = "free_title_form"> %>
      <%# <p><%= form.label :title %></p> 
      <%# <p><%= form.text_field :title %></p> 
    <%# </div> %>

  <%# </div> %> 

    <%# <div class="actions"> %>
      <%# <%= form.submit %> %
      <%# <%= link_to 'Back', posts_path %> 
    </div>

  
<%# <% end %> 
 </body>

