<!DOCTYPE html>
<html>
  <head>
    <title>WonderfulLife</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

  <nav class="navbar navbar-expand-md navbar-dark bg-main">
    <div class="login_home">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#grobalNav" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div id="grobalNav" class="collapse navbar-collapse">
      <% if user_signed_in? %>
        <ul class="navbar-nav ml-auto">
          <li class="nav-item pl-4 active">
            <%= link_to "トップページ", posts_path,class: "btn btn-light btn-block" %></a>
          </li>
          <li class="nav-item pl-4">
            <%= link_to "レシピ投稿", new_post_path,class: "btn btn-light btn-block" %></a>
          </li>
          <% unless  current_user.email == 'guest@example.com'%>
          <li class="nav-item pl-4">
            <%= link_to "マイページ", user_path(current_user.id),class: "btn btn-light btn-block" %></a>
          </li>
        </ul>
          <% end %>
          <li class="nav-item pl-4">
            <%= link_to "ログアウト", destroy_user_session_path, method: :delete,class: "btn btn-light btn-block" %></a>
          </li>
        <% else %>
        <ul class="navbar-nav ml-auto">
          <li class="nav-item pl-3 active">
            <%= link_to "新規登録", new_user_registration_path,class: "btn btn-light btn-block" %></p>
          </li>
          <li class="nav-item pl-3">
            <%= link_to "ログイン", new_user_session_path,class: "btn btn-light btn-block" %></a>
          </li>
          
          <li class="nav-item pl-3">
            <%= link_to 'ゲストログイン（閲覧用）', users_guest_sign_in_path, method: :post,class: "btn btn-light btn-block" %></a>
          </li>
        </ul>
        <% end %>
      </div>
    </div>
  </nav>
  
    

    <% if notice %>
      <p class="alert alert-notice"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p class="alert alert-error"><%= alert %></p>
    <% end %>
  </div>
  
  <div class ="container-fluid">
    <%= yield %>
  </div>

  <footer>
    <p>WonderfuLife.2021</p>
  </footer>
  </body>


</html>
